{{define "subject"}}Welcome to EcoBay application!{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for an EcoBay account. We're excited to have you on board!

For future reference, your user ID number is {{.id}}.

{"Your Activation Code": "{{.code}}"}

Please note that this is a one-time use code and it will expire in 30 minutes.

Thanks,

The EcoBay Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>Thanks for signing up for an EcoBay account. We're excited to have you on board!</p>
    <p>For future reference, your user ID number is {{.id}}.</p>
    <pre><code>
    {"Your Activation Code": "{{.code}}"}
    </code></pre>
    <p>Please note that this is a one-time use code and it will expire in 30 minutes.</p>
    <p>Thanks,</p>
    <p>The EcoBay Team</p>
</body>

</html>
{{end}}